body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

header {
	display: flex;
	align-items: center;
	justify-content: center;
}

.content {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
}

.screen{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	height: 70vh;
	width: 70vh;
}

.pixel {
	box-sizing: border-box;
	background-color: #ffffff;
	border: 0.1px solid black;
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}